
/* CLEAR CSS CODE START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1; 
    margin: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CLEAR CSS CODE END */

/*Body*/



.black_text{
    color:black;
}

.content-80 {
    width: 80%;
    margin: auto;
}

.align-center {
    text-align: center;
} 



/****************
HEADER
*****************/

.caption {
    position: relative;
    overflow: hidden;
    height:400px;
    margin-bottom: 50px; 
}

.caption__media {
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
}



/************
ABOUT
************/
.parallax {
    background: url(images/bwflower.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    clear: both;
    margin:auto;
    padding: 50px 0 ;
}
.table-view {
    display: table;
    width: 85%;
    margin: auto;
    color: white;
    vertical-align: middle;
}

*[class *= 'table-cell-view'] {
    display: table-cell;
}

.grow {
    transition: all .2s ease-in-out; 
}

.grow:hover{
   transform: scale(1.3);
   color: #e85a25;
}

.glyphicon {
    font-size: 200%;
}
.table-cell-view-33 {
    width: 33%;
    font-size: 100%;
}


.table-row{
    padding-bottom: 30px;
    text-align: center;
    padding-top: 50px;
    margin: auto;
}

.offers {
    bottom: 0;
    left: 0;
}

.offers > .table-cell-view-33 {
    vertical-align: middle;
    text-align: center;
    text-transform: capitalize;
    /* font-family: 'Yanone Kaffeesatz';*/
    font-size: 150%;
    text-align: center;
  font-family:'Roboto', sans-serif;
    
    font-weight: 100; 
}

}
/*
.offers a.heading-regular_text {
    line-height: 105px;
}



*/

.button {
    border: 1px solid #e85a25;
    border-radius: 3px;
    background-color: #fff;
    color: #e85a25;
    padding: 20px;
    font-family: 'museo_sans_cyrl700';
    font-size: 100%;
    text-transform: capitalize;
    cursor: default;
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

.button:hover {
    background-color: #e85a25;
    color: #fff;
}

/************
"ABOUT"" END

"SKILLS" START
************/


.orange {
    background-color: #e85a25;
    margin:auto;
    padding: 50px 0 50px;
}
.table-orange {
    vertical-align: middle;
    text-align: center;
    color: white;
    border-spacing: 20px;
    border-collapse: separate;
    margin:auto;
}


td {
     vertical-align: middle;
    color: white;
    height: 130px;
    width: 200px;
    margin-top: 100px; 
    margin: auto; 
    padding: 6px;
    border: thin solid white;
    text-align: center;

}



.header-text {
    font-family:'Roboto', sans-serif;
    font-size: 350%;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #e85a25;
    font-weight: 100; 
}



.text1 {
font-family: 'Yanone Kaffeesatz';
    font-size: 250%;
    text-align: center;
font-weight: 200; 
}
.text2 {
   color: white;
font-family: 'Sonsie One', cursive; 
    font-size: 200%;
    text-align: center;

}
.text3 {
    font-family: 'Yanone Kaffeesatz';
  font-size: 250%;
  text-transform: uppercase;
    text-align: center;
  font-weight: 400; 
  
}
.text4 {
font-family: 'Amatic SC', cursive;
  font-size: 260%;
    text-align: center;
    vertical-align: middle;
}
.text5 {
 font-family: 'Dorsa', sans-serif; 
    font-size: 300%;

    
}
.text6 {
font-family: 'Elsie Swash Caps';
  font-size: 250%;
    text-align: center;

}

/************ "SKILLS" END ************/

/*********** REFERENCES START**********

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

---- Section Titles -----*/


.accordion-section-title:hover {
    background: #000;
    color:white;
}
 
.accordion-section-title {

    width:100%;
    display:inline-block;
    padding: 25px 30px;
    background: white;
    text-align: center;
    color: #e85a25;
    text-transform: uppercase;
    font-family:'Yanone Kaffeesatz';
    font-weight: 200; 
    font-size: 250%;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:inline-block;
    text-align: center;
width:100%;
}


/*********** REFERENCES END***********/
.looking {
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family:'Roboto';
    font-weight: 100; 
    padding: 20px;
    font-size: 120%;
    cursor: default;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}
/*
CV START
******************/
.cvfile {
    background: white;
    padding: 100px 0;
    background-attachment: fixed;
    text-align: center;
    color: #e85a25;
    text-transform: uppercase;
    font-size: 150%;
    font-family:'Yanone Kaffeesatz';
    font-weight: 200; 
    text-align: center;
}

.btncv {
    font-size: 350%;
    text-transform: uppercase;
    height: 50px;
    margin: 50px 0 0 0;
    text-align: center;
    vertical-align: middle;
    font-family:'Yanone Kaffeesatz';
    font-weight: 200; 
    background-color: #e85a25;
    color: white;
}

/*********** CV ENDS ***********/

 /*------------ FOOTER STARTS---------*/


footer {
    height: 250px;
    background-color: #1b1b1b;
    padding-top: 50px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer {
    text-align: center;
}

.footer-line {
    font-family:'Roboto';
    font-weight: 100;
    color: #fff;
   
}
.footer-line-big {
font-family:'Roboto';
    font-weight: 100;
    color: #fff; 
    font-size: 150%;
    }

.footer-second-line {
    margin-top: 15px;
}

.footer-icons-line {
    margin-top: 25px;
    margin-bottom: 45px;
}

.icon {
    font-size: 220%;
    margin: 0 15px;
}

a.icon {
    color: #fff;
}

h1.icon{
    color: #fff;
}



/*
@media screen and (max-width: 992px){
    
    .logo {
        width: 80%;
    }

    .logo .icon-food {
        height: 170px;
        width: 170px;
        margin-bottom: 20px;
    }

    h1.heading {
        font-size: 150%;
    }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

    h1.heading.logo {
        position: absolute;
        width: 100%;
        top: 30%;
        padding: 0;
    }
}

@media screen and (min-device-width: 414px) and (max-device-width: 767px) and (orientation: portrait) {

    h1.heading.logo {
        position: absolute;
        width: 100%;
        top: 20%;
        padding: 0;
    }

} 

